:root {
    --black: #160202;
    --gray: #b4b4b4;
    --gold: #f5af22;
    --blue-dark: rgb(77, 33, 255);
    --green: rgb(52, 209, 104);
    --green-dark: rgb(0, 76, 25);
    --red: rgb(247, 44, 44);
    --red-dark: rgb(109, 0, 0);
}