@import url(../commom/comom-style.module.css);


.card {  
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; 
    width: 250px; 
    margin: 30px;
    padding: 10px;
    border-radius: 10px; 
    background-color: #fff; 
    box-sizing: border-box;
    transition: transform 0.2s ease-in-out;
}

.card .poster{
    border-radius: 10px;
    width: 220px;
    height: 300px;
    align-self: center;
}

.card .titleHolder{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin: 5px;
    margin: 5px;
    height:40px;

}
.titleHolder{
    font-size: 20px;
}


.titleHolder .title{
    font-weight: 500;
}

.ratingIcon{
    width: 20px;
}

.addButton{
    display: flex;
    padding: 3px;
    
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: var(--green);
    color: var(--green-dark);
    border-radius: 5px;
    cursor: pointer;
}

.addButton:hover{
    color: white;
}


.addButton:active{
    background-color:var(--green-dark);
}
