@import url(../commom/comom-style.module.css);

.panel{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin-top: 10%;
    height: max-content;
     
}

.iconHolder{
    width: 200px;
    height: 200px;
    color: var(--gray);
}

.messageHolder{
    width: 200px;
    height: 200px;
    color: var(--gray);

}